/improved_soft_margin_triplet_loss_MVCNN_stage_1_2020_01_15_10_00
/MVCNN_stage_12019_11_14_19
/sigmoid_triplet_loss_MVCNN_stage_1_2020_03_15_09
/sigmoid_triplet_loss_MVCNN_stage_1_2020_03_15_17
/sigmoid_triplet_loss_MVCNN_stage_1_2020_03_16_10
/soft_margin_triplet_loss_MVCNN_stage_1_2020_01_14_15_42
/soft_margin_triplet_loss_MVCNN_stage_2_2020_01_14_15_42
/soft_margin_triplet_loss_wobnMVCNN_stage_1_2020_01_15_10_14
/soft_margin_triplet_loss_wobnMVCNN_stage_1_2020_03_07_09_51
/soft_margin_triplet_loss_wobnMVCNN_stage_1_2020_03_07_09_53
/soft_margin_triplet_loss_wobnMVCNN_stage_1_2020_03_08_16_53
/soft_margin_triplet_loss_wobnMVCNN_stage_1_2020_03_10_10
/soft_margin_triplet_loss_wobnMVCNN_stage_1_2020_03_10_11
/soft_margin_triplet_loss_wobnMVCNN_stage_1_2020_03_10_12
/soft_margin_triplet_loss_wobnMVCNN_stage_1_2020_03_10_13
/soft_margin_triplet_loss_wobnMVCNN_stage_2_2020_01_15_10_14
/soft_margin_triplet_loss_wobnMVCNN_stage_2_2020_03_10_13
/softmax_loss_MVCNN_stage_1_2019_12_20_20_45
/softmax_loss_MVCNN_stage_1_2019_12_25_10_40
/softmax_loss_MVCNN_stage_2_2019_12_20_20_45
/softmax_loss_MVCNN_stage_2_2019_12_25_10_40
/softmax_loss_MVCNN_stage_2_2019_12_26_08_13
/softmax_loss_MVCNN_stage_2_2019_12_26_23_26
/softmax_loss_MVCNN_stage_2_2020_01_06_20_10
/triplet_loss_MVCNN_stage_1_2020_01_07_15_45
/tripletcenter_bn_loss_MVCNN_stage_1_2019_12_26_23_26
/tripletcenter_loss_MVCNN_stage_1_2019_12_20_07_55
/tripletcenter_loss_MVCNN_stage_2_2019_12_20_07_55
dist_an_ap.txt
data.txt
mAP.txt